.footer {
	display: flex;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
	height: 3.5rem;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.logo {
	height: 1em;
	margin-left: 0.5rem;
}
